.col,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1 {
	/*margin: 5px auto;*/
	padding: 0px 1px 5px 1px;
}

.custom-content-area .col,
.custom-content-area .col-xl-12,
.custom-content-area .col-xl-11,
.custom-content-area .col-xl-10,
.custom-content-area .col-xl-9,
.custom-content-area .col-xl-8,
.custom-content-area .col-xl-7,
.custom-content-area .col-xl-6,
.custom-content-area .col-xl-5,
.custom-content-area .col-xl-4,
.custom-content-area .col-xl-3,
.custom-content-area .col-xl-2,
.custom-content-area .col-xl-1,
.custom-content-area .col-lg-12,
.custom-content-area .col-lg-11,
.custom-content-area .col-lg-10,
.custom-content-area .col-lg-9,
.custom-content-area .col-lg-8,
.custom-content-area .col-lg-7,
.custom-content-area .col-lg-6,
.custom-content-area .col-lg-5,
.custom-content-area .col-lg-4,
.custom-content-area .col-lg-5,
.custom-content-area .col-lg-4,
.custom-content-area .col-lg-3,
.custom-content-area .col-lg-2,
.custom-content-area .col-lg-1,
.custom-content-area .col-md-12,
.custom-content-area .col-md-11,
.custom-content-area .col-md-10,
.custom-content-area .col-md-9,
.custom-content-area .col-md-8,
.custom-content-area .col-md-7,
.custom-content-area .col-md-6,
.custom-content-area .col-md-5,
.custom-content-area .col-md-4,
.custom-content-area .col-md-3,
.custom-content-area .col-md-2,
.custom-content-area .col-md-1,
.custom-content-area .col-sm-12,
.custom-content-area .col-sm-11,
.custom-content-area .col-sm-10,
.custom-content-area .col-sm-9,
.custom-content-area .col-sm-8,
.custom-content-area .col-sm-7,
.custom-content-area .col-sm-6,
.custom-content-area .col-sm-5,
.custom-content-area .col-sm-4,
.custom-content-area .col-sm-3,
.custom-content-area .col-sm-2,
.custom-content-area .col-sm-1 {
	padding: 0px 5px 5px 5px;
}

.row {
	padding: 0px 15px;
}